/_event.html.haml
= stylesheet_link_tag 'bootstrap'
= javascript_include_tag 'application'
.span10
	.container{:style => "width:91.5%; background-color:#e5e5e5; height:9%; float:left; margin-left: 2.5%;"}
		hello
		hello
		hello
		hello
	.span1{:style => "width:1px;background-color:#ffffff;height:1px;float:left;margin-left:2%; padding-bottom: 1%; padding-left: 100%"}
	.span1{:style => "width:1px;background-color:#e5e5e5;height:1px;float:left;margin-left:2%; padding-left: 91.5%"}
	.span1{:style => "width:1px;background-color:#ffffff;height:1px;float:left;margin-left:2%; padding-bottom: 1%; padding-left: 100%"}
	.span1
		.container{:style => "width:1px;background-color:#e5e5e5;height:79%;float:left;margin-left:2%; padding-left: 100%"}
	.span8
		.container{:style => "width:1px;background-color:#e5e5e5;height:15%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#ffffff;height:1%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#e5e5e5;height:15%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#ffffff;height:1%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#e5e5e5;height:15%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#ffffff;height:1%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#e5e5e5;height:15%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#ffffff;height:1%;float:left;margin-left:2%; padding-left: 100%"}
		.container{:style => "width:1px;background-color:#e5e5e5;height:15%;float:left;margin-left:2%; padding-left: 100%"}