= stylesheet_link_tag 'bootstrap'
= javascript_include_tag 'application'
%body
	.container
		%center
			.pull-left
				%p{:style => "font-weight:bold;color:#dd6633;"}
					=current_user.first_name
					=current_user.last_name
					%br
					%a#edit_profile{:href => "/user/#{current_user.id}/profile"} edit profile
				.table
					.btn-group-vertical
						%a.btn.btn-primary.btn-small{:href => "/user/#{current_user.id}/event/new" , :id => 'new_event'} new event
						%a.btn.btn-primary.btn-small{:href => '/events/show/all' } all events
						%a.btn.btn-primary.btn-small{:href => '#'} invitations
						%a.btn.btn-primary.btn-small{:href => '#'} recent events
						%a.btn.btn-primary.btn-small{:href => '#' } find friends
		%div{:style => "width:1px;background-color:#e5e5e5;height:100%;float:left;margin-left:2%;"}