[Desktop Entry]
Encoding=UTF-8
Name=Link to url
Type=Link
URL=http://www.google.com/url?sa=i&rct=j&q=workout+40x40+png&source=images&cd=&docid=bGnuW1BjTDSfZM&tbnid=kiufmc5Gepm4bM:&ved=0CAUQjRw&url=https%3A%2F%2Fwww.skimble.com%2Fworkouts%2Fweightlifting&ei=AcqeUtSuKqP_igLvi4DQBg&bvm=bv.57155469,d.cGE&psig=AFQjCNGfnJ7sPpra0O4wGtEnkL-YQP4jXg&ust=1386224486696916
Icon=text-html
