= stylesheet_link_tag 'bootstrap'
= javascript_include_tag 'application'
%body
	%center
		%h2{:style => 'font-family:eight_one;'}
			all events
	.container
		- for event in @events
			.ul.list-group
				%a.li.list-group-item{:href => "/events/#{event.id}"}
					= event.name.capitalize
	%br
	%br
