.container
	.span6
		%center
			%h1{:style => 'font-family:eight_one;font-weight:normal;color:#dd6633;'}
				Welcome to Rondé.com
	.span2{:style => 'padding-left: 3.2%'}
		%a{'href' => "/", 'class' => 'btn btn-primary btn-small'}X			
	%center
		.span7
			%p
				Rondé is the easiest way to get together with friends. Whether you're going to lunch, heading to the gym, or grabbing a drink, find friends who have the same plans and join them for a great time. 	
			.pull-right
				%a{'href' => 'tour-search', 'data-toggle' => 'modal', 'class' => 'btn btn-primary btn-medium'}
					next