= stylesheet_link_tag 'bootstrap'
= javascript_include_tag 'application'
%body	
	%br
	%h1.title rondé
	%br
	.container
		.hero-unit
			%h4 rondé is the easiest way to get together with friends. Whether you're going to lunch, heading to the gym, or grabbing a drink, find friends who have the same plans and join them for a great time.
			%p
				%a.btn.btn-primary.btn-small{:href => '/users/sign_up'} Sign Up &raquo;
		.row
			.span4
				%h2 Plans, now
				%p No more waiting. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				%p
					%a.btn.btn-primary{:href => "/users/sign_up"} View details &raquo;
			.span4
				%h2 Be in the loop
				%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				%p
					%a.btn.btn-primary{:href => "/users/sign_up"} View details &raquo;
			.span4
				%h2 Share good times
				%p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				%p
					%a.btn.btn-primary{:href => "/users/sign_up"} View details &raquo;
		%hr/
		.container
			.navbar.navbar-fixed-bottom{:style => "padding-left:240px;"}
				.nav-collapse{:style => "margin-left:auto;margin-right:auto;width:40em;"}
					%ul.nav
						%li
							%a{:href => "/static/home", :id => 'home',:style => "color:#ff6633;"} Home
						%li
							%a{:href => "/static/about", :id => 'about',  :style => "color:#ff6633;"} About
						%li
							%a{:href => "/static/terms_of_use", :id => 'terms of use',  :style => "color:#ff6633;"} Terms of Use
						%li
							%a{:href => "/static/contact", :id => 'contact', :style => "color:#ff6633;"} Contact
