%html
  = stylesheet_link_tag 'static'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %head
    %body
      %center
        %br
        %br
        %h2 contact
        %br

        %p#about
          =mail_to 'ronde@ronde.com'
