%html
	= stylesheet_link_tag 'static'
	%head
	%body
		%br
		%h1.title rondé
		%br
		%br

	%center
		%table
			%th{:style => "padding:10px;"}
				%a{:href => '/users/sign_in'}
					.btn sign in
					
			%th{:style => "padding:10px;"}
				%a{:href => '/users/sign_up'}
					.btn sign up


		.container
			.navbar.navbar-fixed-bottom{:style => "padding-left:240px;"}
				.nav-collapse{:style => "margin-left:auto;margin-right:auto;width:40em;"}
					%ul.nav
						%li
							%a{:href => "/static/home", :id => 'home',:style => "color:#ff6633;"} Home
						%li
							%a{:href => "/static/about", :id => 'about',  :style => "color:#ff6633;"} About
						%li
							%a{:href => "/static/terms_of_use", :id => 'terms of use',  :style => "color:#ff6633;"} Terms of Use
						%li
							%a{:href => "/static/contact", :id => 'contact', :style => "color:#ff6633;"} Contact


