%html
  = stylesheet_link_tag 'static'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %head
    %title rondé
    %body
      %center
        %br
        %br
        %h2 terms of use
        %br

        %p#about
          all rights reserved
