@font-face {
  @font-family:"eight_one";
  src: url("eight_one.ttf") format("truetype");
}

h1.title {
  color: #FF6633;
  font-family:"eight_one", arial;
  font-size: 500%;
  text-align: center;
}

.button {
  display: inline-block;
  font: 16px Arial;
  background-color: #FF6633;
  color: white;
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 75px;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

a.button:hover {
  color: #FF6633;
  background-color: #FFCC99;
}

#sign_in_button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#sign_up_button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bottom_link {
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  color: #FF6633;
  text-decoration: none;
}

a.bottom_link:hover {
  color: #FFCC99
}


table#buttons {
  margin-left: auto;
  margin-right: auto;
}

table#buttons th {
  border-spacing: 20px;
}

table#bottom_links {
  margin-left: auto;
  margin-right: auto;
  margin-top: 275px;
}

table#bottom_links th {
  width: 25%;
  text-align: center;
}

/*div#bottom_div {
	position: fixed;
	bottom: 0;
}*/






