@font-face {
  font-family:"eight_one";
  font-weight:normal;
  src: url("eight_one.ttf") format("truetype");
}

h1.title {
  color: #FF6633;
  font-family:"eight_one", arial;
  font-weight:normal;
  font-size: 500%;
  text-align: center;
}

a{ 
  color:#ff6633;
}
a:hover{
  color:#ffcc99;
}

.button {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 10px 10px;
  height:75px;
  width:75px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 75px;
  text-align: center;
  border-radius:100%;
  border-color:#ffffff;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff6633;
  *background-color: #ff6633;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}

.button:hover,
.button:focus,
.button:active,
.button.active,
.button.disabled,
.button[disabled] {
  color: #ff6633;
  background-color: #ffcc99;
  *background-color: #ffcc99;
  text-color:#ff6633;
}
.button:active,
.button.active {
  background-color: #ffffff \9;
}
.button:first-child {
  *margin-left: 0;
}
.button:hover,
.button:focus {
  color: #ff6633;
  text-decoration: #ffffff;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.button:focus {
  outline: thin dotted #ff6633;
  outline: 8px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

